{{>include/header}}

{{#boardList}}
<form action="/board/update" method="post">
        <input type="text" name="title" value="{{title}}">
        <input type="hidden" value="{{id}}" name="id">
        <br>
        <br>
        <textarea name="content">{{content}}</textarea>
        <a class="btn btn-primary" href="/board/{{id}}/update">수정하기</a>
        <a class="btn btn-primary" href="/board/{{id}}">뒤로가기</a>
</form>
{{/boardList}}



{{>include/footer}}