{{>include/header}}

<form action="create" method="post">
    <input type="text" name="title">
    <br>
    <br>
    <textarea name="content"></textarea>
    <a class="btn btn-primary" href="/new"><button>글쓰기</button></a>
    <a class="btn btn-primary" href="/board"><button type="button">뒤로가기</button></a>

</form>



{{>include/footer}}