{{>include/header}}

<form action="create" method="post" class="container">
    <div class="mb-3">
        <label class="form-label">제목</label>
        <input type="text" name="title" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">내용</label>
    <textarea name="content" class="form-control" rows="3"></textarea>
    </div>
    <a class="btn btn-primary" href="/new" type="button">글쓰기</a>
    <a class="btn btn-primary" href="/board" type="button">취소하기</a>
    </div>
</form>



{{>include/footer}}