{{>include/header}}

<form action="create" method="post">
    <input type="text" name="title">
    <br>
    <br>
    <textarea name="content"></textarea>
    <a class="btn btn-primary" href="/new" type="button">글쓰기</a>
    <a class="btn btn-primary" href="/board/{{id}}" type="button">뒤로가기</a>

</form>



{{>include/footer}}