{{>include/header}}

<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">title</th>
        <th scope="col">Content</th>
    </tr>
    </thead>
    <tbody>
    {{#board}}
<tr>
        <th>{{id}}</th>
        <td>{{title}}</td>
        <td>{{content}}</td>
    </tr>
            {{/board}}
    </tbody>
</table>
<a class="btn btn-primary" href="/board/{{id}}/edit" type="button">수정하기</a>
<a class="btn btn-danger" href="/board/{{id}}/delete" type="button">삭제하기</a>
<a class="btn btn-primary" href="/board" type="button">목록보기</a>

{{>comments/_comments}}

{{>include/footer}}